.jumbotron {
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    display: inline;
}

.jumbotron .container {
    max-width: 40rem;
}

.smallinput{
    width: 200px;
}

.selectcategory{
    display: inline-block;
}

.close{
    font-size: 2rem;
}

#dropdownMenuButton{
    background-color: #343a40!important;
    border-color: #343a40!important;
}

button.close:hover{
    color: #ad002d !important;
}

.delete{
    margin: 10px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
    text-align: center !important;
}

